html{
	background-color:#2B2B2B;
	color: white;
	width: 302vw;
}

h1{
/*	font-family: 'Fredericka the Great', cursive;*/
	font-size: 3rem;
	font-family: Fredericka the Great;
    font-weight: 400;
    text-transform: uppercase;
}

-webkit-scrollbar { 
    display: none; 
}

.headline{
	/*margin:auto;
	text-align: center;
	margin-top:20%;*/
	 /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;*/
}
/*.container{
	width: 30%;
}*/
h3{
	font-family: 'Josefin Slab', serif;
/*	text-align: center;*/
	font-weight: 400;
	font-size: 1.3rem;
}

h3 #counting {
	width: 50%;
}




button#askQuestion{
	background-color:transparent;
	color: white;
	border:none;
	font-family: 'Josefin Slab', serif;
	font-size:1.5rem;
	cursor: pointer;

	/*	margin: auto;*/
	/*display: block;*/
	/*margin-top:40px;*/
}

button#askQuestion:focus{
	outline:0;
}


.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.section {
  margin: 0px; 
  bottom: 0px;
  width: 100vw;
  float: left;
  height: 100%;
}

.wrap{
	width: 60%
}
